.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  background-color: #0c0417; /
  }

.app-header {
  position: absolute;
  top: 20px;
  left: 20px;
}

.spotify-logo {
  height: 40px;
  width: 140px;
}

.app-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.main-title {
  font-size: 4em;
  color: #1db954;
  margin-bottom: 0;
}

.signin-text {
  font-size: 2em;
  font-weight: 700;
  color: #1db954;
  margin-top: 0;
}

.social-buttons-container {
  display: flex;
  gap: 14px;
  margin-top: 30px;
  border: 4px solid #1db954;
  padding: 35px 55px;
  border-radius: 65px;
}
