.styles.button {
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
}

.icon {
  width: auto;
}
.button:hover .icon {
  transform: translateY(-8px);
}
